<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="/">Gossip</a>-->
  <%= link_to "Gossip", accueil_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
       <%= link_to "Team", team_path, class: "nav-link" %>
        <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="/contact">Contact</a>-->
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<h1>Bienvenue sur notre site Gossip!</h1>
<p>Tous nos Gossip sont dans la liste ci dessous classé par auteur et par titre</p>

<p>Autheur: <%= @user %>, Title: <%= @title  %>, Content: </p>


