


<html>
  <body>

  <div class='container'>
      <% if @potin.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @potin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
  </div>

    <!-- ... -->
  <div class='conteneur'>
    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'titre', @potin.title, class: 'form-control', placeholder: "Title" %>
      <br>

      <%= label_tag 'Contenu' %>
      <%= text_area_tag 'content', @potin.content, class: 'form-control', placeholder: "Contenu" %>
      <br>

      <%= label_tag 'Auteur' %>
      <%=select_tag 'auteur', options_for_select(@users.map{ |user| [user.f_name, user.id] }), class: 'form-control', placeholder: "Autheur" %>
      <br>

      <p class="commit text-center"><%= submit_tag "Créer le potin", class: "btn btn-primary"%></p>

    <% end %>

    <!-- ... -->
  </body>
</html>
