<div class="container-fluid mt-5 text-center">
	<h3>Page de potin n°<%= @potin.id %></h3>
</div>

<br>
<div class="container-fluid mt-5 text-center">
	<h2>Titre: <%= @potin.title %></h2>
	<p>Contenu: <%= @potin.content %></p>
	<p>Ville: <%= @potin.user.city.name %></p>
	<%= link_to "Accéder à la ville", city_path(@potin.user.city_id), :class => "btn btn-primary" %><br>
	<p>Auteur: <%= @potin.user.f_name %></p>
	<%= link_to "Auteur", user_path(@potin.user_id), :class => "btn btn-primary" %>
	<br><br><br>
	<%= link_to "Editer", edit_potin_path(@potin.id), :class => "btn btn-warning" %>
	<%= link_to "Supprimer", potin_path(@potin.id), :class => "btn btn-danger", method: :DELETE, :data => {:confirm => 'Êtes vous sur ?'} %>
</div>

	<br>

		<div class="container float-center p-2">
			<%= link_to "Ajouter un commentaire !", new_potin_comment_path(@potin.id), :class => "btn btn-info" %>
		</div>

<div class="container float-center rounded-top border shadow p-2">
<p class="font-weight-light">Commentaires:</p>
</div>
<div class="container float-center rounded-bottom border shadow p-4 mb-4 bg-white">
<p class="font-weight-bold">Auteur: </p>
<p class="p-2"><%=  %></p>
<p class="font-weight-bold">Commentaire: </p>
<p class="p-2">Blabla</p>
</div>
